@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WorkWise Html Template</title>
    <meta name="viewport" co!importanttent="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.min.css">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/Custom.css">
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />
    <link href="/plugins/waitMe/waitMe.min.css" rel="stylesheet" />
    <style>
        .user-info a {
            font-size: 12px;
        }

        .user-info > i {
            right: -3px !important;
        }

        nav {
            text-align: left;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="/home" title=""><img src="/images/logo.png" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                       

                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/" title="">
                                    <span><img src="/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/employee/profile" title="">
                                    <span><img src="/images/icon4.png" alt=""></span>
                                    Profile
                                </a>
                            </li>

                            <li>
                                <a href="/employeegroup" title="">
                                    <span><img src="/images/icon4.png" alt=""></span>
                                    Scheme
                                </a>
                            </li>
                            <li>
                                <a href="/Shipment" title="">
                                    <span><img src="/images/icon4.png" alt=""></span>
                                    Shipment
                                </a>
                            </li>
                            <li>
                                <a href="/Heatmap" title="">
                                    <span><img src="/images/icon4.png" alt=""></span>
                                    Heatmap
                                </a>
                            </li>
                         
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="/images/resources/user.png" alt="">
                            <a href="#" title="">@CurrentUser.Name</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss" id="users">
                            <h3>Setting</h3>
                            <ul class="us-links">
                                <li><a href="/employee/ChangePassword" title="Change Password">Change Password</a></li>                                
                            </ul>
                            <h3 class="tc"><a href="/account/Logout" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <main>
            @RenderBody()
        </main>
    </div>



    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/scrollbar.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="~/plugins/toastr/toastr.min.js" asp-append-version="true"></script>
    <script src="/plugins/waitMe/waitMe.min.js"></script>
    <script src="/js/global.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @{
        var model = ViewData["NotificationModel"] as Notification;
        if (model == null)
        {
            if (TempData["NotificationModel"] != null)
            {

                model = Newtonsoft.Json.JsonConvert.DeserializeObject<Notification>(TempData["NotificationModel"].ToString());
            }
        }
    }

    @if (model != null)
    {

        <script>
            $(document).ready(function () {
                if ('@(model.Type.ToString().ToLower())' == 'success') {
                    Global.ToastrSuccess('@(model.Message)');
                } else if ('@(model.Type.ToString().ToLower())' == 'danger') {
                    Global.ToastrError('@(model.Message)');
                }
                else if ('@(model.Type.ToString().ToLower())' == 'warning') {
                    Global.ToastrWarning('@(model.Message)');
                } else  {
                    Global.ToastrInfo('@(model.Message)');
                }
            });

        </script>
    }

</body>
</html>