@model List<DashboardScheme2Dto>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .ed-opts {
        float: none;
    }

        .ed-opts > a {
            float: none;
            left: 0px;
        }
</style>


<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">

                <div class="col-lg-12 col-md-12 no-pd">
                    <div class="accordion" id="accordionExample">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            DashboardScheme2Dto item = Model[i];
                            int j = 0;
                            <div class="card">
                                <div class="card-header" id="heading_@i">
                                    <div class="row">
                                        <div class="col-12 col-6-12 col-md-7">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="true" aria-controls="collapseOne">
                                                    @item.Name
                                                </button>
                                            </h5>

                                        </div>

                                        <div class="col-12 col-lg-6 col-md-5">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4">
                                                    <span>
                                                        L&P:
                                                    </span>
                                                    <br />
                                                    <span style="color:@(item.Result.Sum(s=>s.LTP)<=0?"red":"gree")">@item.Result.Sum(s => s.LTP).ToString("##.##") </span>
                                                </div>

                                                <div class="col-sm-6 col-md-4">
                                                    <span>
                                                        Capital:
                                                        <br />
                                                        <span>15.10 L </span>
                                                    </span>
                                                </div>

                                                <div class="col-sm-6 col-md-4">
                                                    <span>
                                                        Values (Pos):
                                                        <br />
                                                        <span>-17.2 K (2) </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@item.Header</p>

                                </div>

                                <div id="collapse_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>Entry Time</th>
                                                        <th>Exit Time</th>
                                                        <th>Instrument</th>
                                                        <th>Qty</th>
                                                        <th>Entry Price</th>
                                                        <th>Exit Price</th>
                                                        <th>LTP</th>
                                                        <th>P&L</th>
                                                        <th>Chg</th>
                                                        <th>SL</th>
                                                        <th>Trgt</th>
                                                        <th>...</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var res in item.Result)
                                                    {
                                                        j++;

                                                    <tr>
                                                        <td>@res.EntryTime</td>
                                                        <td>@res.ExitTime</td>
                                                        <td>@res.Instrument</td>
                                                        <td>@res.Qty</td>
                                                        <td>@res.EntryPrice</td>
                                                        <td>@res.ExitPrice</td>
                                                        <td>@res.LTP</td>
                                                        <td>@res.PL</td>
                                                        <td style="color:@(res.Chg<=0?"red":"green");">@res.Chg %</td>
                                                        <td>@res.SL %</td>
                                                        <td>@res.Trgt %</td>
                                                        <td>
                                                            <div class="ed-opts">
                                                                <a href="javascript:void(0);" title="" class="ed-opts-open" style="background-color: #008CBA; color: white;"><i class="la la-ellipsis-h"></i></a>
                                                                <ul class="ed-options">
                                                                    <li><a href="javascript:void(0);" title="">Action 1</a></li>
                                                                    <li><a href="javascript:void(0);" title="">Action 2</a></li>
                                                                    <li><a href="javascript:void(0);" title="">Action 3</a></li>
                                                                    <li><a href="javascript:void(0);" title="">Action 4</a></li>
                                                                    <li><a href="javascript:void(0);" title="">Action 5</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td> </td>
                                                        <td>Total </td>
                                                        <td style="color:@(item.Result.Sum(s=>s.PL)<=0?"red":"gree")">@item.Result.Sum(s => s.PL).ToString("##.##") </td>
                                                        <td> </td>
                                                        <td> </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

        });
    </script>
}